@model TaxWebApp.Models.Person

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Automatically Given
                <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
                *@

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="New" class="control-label"></label>
                <input asp-for="New" class="form-control" />
                <span asp-validation-for="New" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferedBy" class="control-label"></label>
                <input asp-for="ReferedBy" class="form-control" />
                <span asp-validation-for="ReferedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="In" class="control-label"></label>
                <input asp-for="In" class="form-control" />
                <span asp-validation-for="In" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scanned" class="control-label"></label>
                <input asp-for="Scanned" class="form-control" />
                <span asp-validation-for="Scanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparer" class="control-label"></label>
                <input asp-for="Preparer" class="form-control" />
                <span asp-validation-for="Preparer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@*
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
